/*
Error: File to import not found or unreadable: true.
       Load path: /Users/eric/Sites/accoutrement/maps/test
        on line 4 of test.scss

1: // Arrow Tests
2: // ===========
3: 
4: @import "true";
5: 
6: // Test Module
7: // -----------
8: 
9: @include test-module('Map Helpers') {

Backtrace:
test.scss:4
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/import_node.rb:45:in `import'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/exec/base.rb:52:in `parse'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/lib/sass/exec/base.rb:19:in `parse!'
/Users/eric/Sites/.venvs/accoutrement/rubygems/gems/sass-3.4.8/bin/sass:13:in `<top (required)>'
/Users/eric/Sites/.venvs/accoutrement/rubygems/bin/sass:23:in `load'
/Users/eric/Sites/.venvs/accoutrement/rubygems/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: true.\A        Load path: /Users/eric/Sites/accoutrement/maps/test\A         on line 4 of test.scss\A \A 1: // Arrow Tests\A 2: // ===========\A 3: \A 4: @import \"true\";\A 5: \A 6: // Test Module\A 7: // -----------\A 8: \A 9: @include test-module('Map Helpers') {"; }
